@model CrowdfundingASP.Models.Droit

<div class="jumbotron">
    <h1>Liste Role </h1>
    <h4 class="alert-danger">@ViewBag.ErrorMessage</h4>


    <p>............................................................</p>

    <p>
        @Html.ActionLink("Liste Role", "ListDroit", "Droit")
    </p>

    <p>............................................................</p>

    <p>@Html.ActionLink("Retour", "Index", "Droit")</p>
    <p>@Html.ActionLink("Acceuil", "Index", "Home")</p>



</div>


<p>@Html.ActionLink("Acceuil", "Index", "Home")</p>
