@model IEnumerable<CrowdfundingASP.Models.Droit>

@{
    ViewBag.Title = "ListDroit";
}

<h2>ListDroit</h2>

<p>
    @Html.ActionLink("Nouveau", "AddDroit")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdDroit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Role)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdDroit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.IdDroit }) |
                @Html.ActionLink("Details", "Details", new { id = item.IdDroit }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.IdDroit })
            </td>
        </tr>
    }

</table>

<p>@Html.ActionLink("Retour", "Index", "Droit")</p>
<p>@Html.ActionLink("Acceuil", "Index", "Home")</p>
