@model IEnumerable<WebSite_Crowdfunding.Models.Utilisateur>
@{
    ViewBag.Title = "ListeUtilisateur";
}

<h2>ListeUtilisateur</h2>


<p>
    @Html.ActionLink("Nouveau", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NomUtilisateur)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsAdmin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomUtilisateur)
            </td>
            <td>
                @Html.DisplayFor( modelItem => item.Password))
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAdmin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.ActionLink("Editer", "Edit", new { id = item.UtilisateurId }) |
                @Html.ActionLink("Detailler", "Details", new { id = item.UtilisateurId }) |
                @Html.ActionLink("Suprimer", "Delete", new { id = item.UtilisateurId }) |
                @Html.ActionLink("Desactiver", "ToggleUser", new { id = item.UtilisateurId })
            </td>
        </tr>
    }

</table>
