@model IEnumerable<CrowdfundingAPI.Models.Droit>

@{
    ViewBag.Title = "ListPalier";
}

<h2>ListPalier</h2>

<p>
    @Html.ActionLink("Ajouter", "Ajouter")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdDroit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Role)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdDroit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Role)
        </td>
        <td>
            @Html.ActionLink("Modifier", "Modifier", new { id = item.IdDroit }) |
            @Html.ActionLink("Details", "Details", new { id = item.IdDroit }) |
            @Html.ActionLink("Supprimer", "Supprimer", new { id=item.IdDroit })
        </td>
    </tr>
}

</table>
<script type="text/javascript">
    function getForm(id) {
        let form_fn = document.getElementById("fn_td_" + id);
        let old_fn = form_fn.textContent;
        let input_fn = document.createElement("input");
        input_fn.setAttribute("name", "fn_input_" + id);
        form_fn.appendChild(input_fn);

        let form_ln = document.getElementById("ln_td_" + id);
        let old_fn = form_fn.textContent;
        let input_ln = document.createElement("input");
        input_ln.setAttribute("name", "ln_input_" + id);
        form_ln.appendChild(input_ln);

        let form_sub = document.getElementById("sub_"+id)
        let submit = document.createElement("button");
        submit.textContent = "Valider";
        submit.addEventListener("click", function () {
            edit({ "ID": id, "FirstName": input_fn.value, "LastName": input_ln.value });
        });
        form_sub.appendChild(submit);
    }

    function edit(object) {
        console.log(object);
        $.ajax({
            url: '@Url.Action("Edit", "Employee")',
            type: 'POST',
            data: object,
            dataType : 'json',
            success: function (data) {
                console.log("Ok!");
                if (data.IsSuccess)
                    window.location.href = data.Url;
                else
                    console.log("Fail :/")
            }
        });
    }
</script>
