@model IEnumerable<CrowdfundingASP.Models.Projet>

@{
    ViewBag.Title = "ListProjet";
}

<h2>ListProjet</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdProjet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlafondFinance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumeroCompte)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UrlVideo)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdProjet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlafondFinance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroCompte)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UrlVideo)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.IdProjet }) |
                @Html.ActionLink("Details", "Details", new { id = item.IdProjet }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.IdProjet })
            </td>
        </tr>
    }

</table>

<p>@Html.ActionLink("Retour", "Index", "Projet")</p>
<p>@Html.ActionLink("Acceuil", "Index", "Home")</p>
